out-tsc
docs/build
node_modules
node_modules/
dist
node_modules_bkp
node_modules_BKP_DEV
node_modules_bkp_2
node_modules_VERSAO_6_ANGULAR
node_module*
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings
e2e/*.js
e2e/*.map
.DS_Store
Thumbs.db


# compiled output
web/out-tsc
web/docs/build

# dependencies
web/node_modules
web/node_modules_bkp
web/node_modules_BKP_DEV
web/node_modules_bkp_2
web/node_modules_VERSAO_6_ANGULAR
web/node_module*

# IDEs and editors
web/.idea
web/.project
web/.classpath
web/.c9/
web/*.launch
web/.settings/
web/*.sublime-workspace

# IDE - VSCode
web/.vscode/*
web/!.vscode/settings.json
web/!.vscode/tasks.json
web/!.vscode/launch.json
web/!.vscode/extensions.json

# misc
web/.sass-cache
web/connect.lock
web/coverage
web/libpeerconnection.log
web/npm-debug.log
web/testem.log
web/typings

# e2e
web/e2e/*.js
web/e2e/*.map

# System Files
web/.DS_Store
web/Thumbs.db

/*/nbproject/private
/*/build/web
/*/build/empty
/*/build/test
/*/nbbuild/
/*/dist/
/*/nbdist/
/*/.nb-gradle/
*.war
*.class
/*/temp/
/*/tmp
/security/build/
/sync/build/
/*/bin/
/server/build/

Teste.java

/*/target/
/*/!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
/server2.0/src/main/resources/relatorio/
*.bak
