.navegacao div {
    color: #a1a1e5;
    cursor: pointer;
    float: left;
    margin-top: 10px;
    padding: 0px 10px 10px 10px;
}

.card-header {
    cursor: default;
    padding-bottom: 0px;
}

.ativo {
    border-bottom: 1px solid #eceeef;
    color: #fff !important;
    cursor: default !important;
}

.horario-badge {
    display: inline-flex;
    background-color: #171435;
    border-radius: 5px;
    padding: 2px;
    margin: 1px;

    .dia {
        display: inline;
        
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        padding: 0 2px;
    }

    .horario {
        display: inline;
    }
}

.table .table {
    // background-color: rgba(255, 255, 255, 0.1) !important;
    /*color: #171435 !important;*/
}