.status{
    width: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.verde{
    background-color:#006a6a;
}

.cinza{
    background-color:#79787d;
}

.cabecalho{
    background-color: rgba(255, 255, 255, 0.1);
}

.row{
    margin-top: 15px;
}

table{
    cursor: default;
}