.status{
    width: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.verde{
    background-color:#006a6a;
}

.cinza{
    background-color:#79787d;
}

table{
    cursor: default;
}

.icone{
    cursor: pointer !important;
    font-size: 2px !important;
}