<div class="row"  
    *ngFor="let mensagem of mensagens"
    [ngClass]="{'justify-content-start': mensagem.posicao == 'left', 'justify-content-center': mensagem.posicao == 'center', 'justify-content-end': mensagem.posicao == 'right'}"
>
    <div *ngIf="mensagem.posicao == 'left'" class="col-xs-2 col-sm-2 col-md-auto col-lg-auto">
        <img class="img-chat" src="{{pegaFotoImagem(mensagem)}}">
    </div>
    <div class="col-xs-5 col-sm-5 col-md-auto col-lg-auto chat">
        <div class="mensagem">
            <p>{{mensagem.descricao}}</p>

            <div *ngIf="mensagem.arquivo" style="display:flow-root;">
                <i
                    class="far fa-3x fa-file-{{extensaoAnexo(mensagem.arquivo.extensao)}} posicao-{{mensagem.posicao}}"
                    (click)="abrirAnexo(mensagem.arquivo.id)"
                ></i>
                <small class="posicao-{{mensagem.posicao}}">
                    {{mensagem.arquivo.descricao}}
                </small>
            </div>

        </div>
        <div class="footer" *ngIf="mensagem.nome">
            <small>{{mensagem.nome}}, {{mensagem.data}}</small>
        </div>
    </div>
    <div *ngIf="mensagem.posicao == 'right'" class="col-xs-2 col-sm-2 col-md-auto col-lg-auto">
        <img class="img-chat" src="{{pegaFotoImagem(mensagem)}}">
    </div>
</div>