.opcoes botao {
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    width: 44%;
}

.addOpcao {
    position: relative;
    width: 100%;
}

.addOpcao entrada {
    float: left;
    padding-right: 10px;
    position: relative;
    width: 75%;
}

.addOpcao botao {
    float: left;
    position: relative;
    width: 25%;
}

.botao-centro{
    text-align: center;
    margin: 0 auto;
}

.papeis{
    margin: 30px auto;
    padding: 0;
}

.botoes {
    float: left;
    position: relative;
}

.botoes botao {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 30%;
}