
.navegacao div {
    color: #a1a1e5;
    cursor: pointer;
    float: left;
    margin-top: 10px;
    padding: 0px 10px 10px 10px;
}

.card-header {
    cursor: default;
    padding-bottom: 0px;
}

td{
    text-transform: uppercase;
}

.linhaSelecionada,
.linhaSelecionada:hover{
    background: #444071 !important
}

.cabecalho_sessao{
    line-height: 1.5;
    font-size: 16px;
}

.ativo {
    border-bottom: 1px solid #eceeef;
    color: #fff !important;
    cursor: default !important;
}

:host /deep/ td.coluna_acoes botao button {
    padding: 0;
    width: 30px !important;
    background: transparent !important;
    border: none;
}

:host /deep/ input-checkbox{

    .check_principal_label,
    .check_principal{
        top: -8px;
        width: 30px;
        height: 30px;

        &:after{
            padding: 3px;
            border-bottom-width: 3px !important;
            border-right-width: 3px !important;
            margin-top: -1px;
            margin-left: 1px;
            position: relative;
        }
    }

    .check_principal_label{
        top: 3px;
    }

}

div.linhaRecorrencia {
    padding: 20px !important;
    display: block;
    background: #443f7a;
    width: 100%;
    position: relative;
    text-align: center;
}

.recorrencias {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}


:host /deep/ .recorrencias recorrencia{

    .table {
        background: transparent !important;
    }

    .label_recorrencia{
        display: block !important;
    }

}

:host /deep/ .table icone{
    top: 6px;
    position: relative;
    left: 10px;
}

.locais{
    padding-bottom: 20px !important;
}

td.coluna_acoes {
    position: relative;
    float: right;
    margin-right: 20px;
    top: -8px;
}