@import "../../../../theme/sass/conf/conf";

.modal-buttons .btn {
    margin-right: 20px;
}

.modal-content {
    color: $dropdown-text;
}

.modal-content {
    color: #FFF;
    background-color: #443f7a;
    border-color: #575287;
}