.legenda-pagina-atual {
	font-size: 18px;
    padding: 10px;
}

.pagination > li > a, .pagination > li > span {
    border-color: #25002e;
    cursor: pointer
}

.pagination > li:hover{
    color: #004e4e !important
}

div.div_paginacao {
    margin-top: 25px; 
    display: -webkit-inline-box;
    line-height: 1;
}

.botoes_paginacao {
    margin: 0;
}

.pagination-sm .page-link {
    padding: 0.35rem 0.5rem !important;
}