<div class="pie-charts">
    <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
            <div id="{{titulo}}" class="chart" data-percent="95">
                <span class="percent"></span>
            </div>
            <div class="description">
                <div>{{titulo}}</div>
                <div class="description-stats">{{subtitulo}}</div>
            </div>
            <icone class="chart-icon" [nome]="icone" [tamanho]="'grande-70'"></icone>
        </div>

    </ba-card>
</div>